@model TrashCollector.Models.Account

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OneTimePickUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OneTimePickUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isSuspended)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isSuspended)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
